@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* General */

body {
  background: #fff7f0;
}

.consultationbutton {
  color: #fff7f0;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  border-radius: 28px;
  padding: 8px 28px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.black {
  background: #030303;
}

.black:hover {
  background: #755cde;
}

.pink {
  background: #eb7565;
  align-self: center;
}

.pink:hover {
  background: #f6a560;
}

p {
  line-height: 26px;
  text-align: center;
  color: #7a746e;
}

section,
header,
main,
article {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
}

/* Banner top & bottom */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

.banner img {
  width: 48px;
  height: 48px;
}

/* Header */

header {
  text-align: center;
  gap: 16px;
  padding: 4%;
  align-items: center;
}

h1 {
  font-size: 36px;
  color: #030303;
}

header p {
  width: 76%;
}

/* Main */

main {
  margin-top: 16px;
  overflow: hidden;
  padding: 4%;
  gap: 100px;
}

/* Skilltiles */

.skilltiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 364px 182px 158px 182px 182px;
  gap: 24px;
}

.skilltiles a {
  grid-column: 1/-1;
  border-radius: 8px;
  padding: 24px;
}

.skilltiles a:first-of-type {
  background: #755cde;
}

.skilltiles a:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 2/3;
  background: #f6a560;
}

.skilltiles a:nth-of-type(3) {
  grid-column: 2/-1;
  grid-row: 2/3;
  background: #f39e9e;
}

.skilltiles a:nth-of-type(4) {
  background: #eb7565;
}

.skilltiles a:nth-of-type(5) {
  background: #61c4b7;
}

.skilltiles a:nth-of-type(6) {
  background: #552049;
}

.skilltiles div {
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.skilltiles img {
  align-self: flex-end;
}

.skilltiles a p {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  align-self: flex-start;
}

/* About me */

.aboutme {
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.aboutme img {
  width: 85%;
  max-width:500px;
}

article {
  gap: 24px;
}

h2 {
  font-size: 26px;
  text-align: center;
  color: #030303;
}

/* My Work/Slideshow */

.mywork {
  gap: 32px;
  justify-content: center;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #030303;
}

.slideshowcontainer {
  display:flex;
  justify-content: center;
  transition: all 1s ease;
  width: 100%;
  gap: 15px;
}

.slideshowcontainer img {
  width: 270px;
  border-radius: 10px;
}

.sliderbuttons {
  justify-content: center;
  gap: 16px;
}

button {
  width: 64px;
  height: 64px;
  background: #030303;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: #755cde;
  cursor: pointer;
}

/* Book a call */

.bookacall {
  background: #030303;
  border-radius: 10px;
  padding: 49px 24px;
  gap: 24px;
  margin-bottom: 8px;
}

.bookacall div {
  flex-direction: column;
  gap:24px;
}

h4 {
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  color: #fff7f0;
}

.bookacall p {
  line-height: 26px;
  text-align: center;
  color: #fff7f0;
}

/* Footer */

footer {
  margin: 32px 16px;
}

@media (min-width: 600px) {
  .consultationbutton {
    font-size: 16px;
    padding: 14px 45px;
  }

  .banner {
    margin: 34px 40px 0 40px;
  }

  .banner img {
    height: 64px;
    width: 64px;
  }

  header {
    padding: 64px 40px;
  }

  h1 {
    font-size: 44px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  main {
    margin: 0;
    padding: 0 40px 40px 40px;
    gap: 120px;
  }

  .skilltiles {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 182px 158px 182px;
    gap: 24px;
  }

  .skilltiles a:first-of-type {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .skilltiles a:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .skilltiles a:nth-of-type(3) {
    grid-column: 4/-1;
    grid-row: 1/2;
  }

  .skilltiles a:nth-of-type(4) {
    grid-column: 3/-1;
  }

  .skilltiles a:nth-of-type(5) {
    grid-column: 1/3;
  }

  .skilltiles a:nth-of-type(6) {
    grid-column: 3/-1;
  }

  .aboutme {
    flex-direction: row;
    gap: 69px;
    margin-left: -82px;
  }

  .aboutme img {
    width: 50%;
  }

  h2 {
    text-align: left;
    font-size: 32px;
    line-height: 40px;
    width:540px;
  }

  .aboutme p {
    text-align: left;
  }

  .aboutme a {
    align-self: flex-start;
  }

  .mywork {
    gap: 56px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
  }

  .slideshowcontainer {
    gap: 30px;
  }

  .slideshowcontainer img {
    width:540px;
  }

  .bookacall {
    padding: 56px 75px 64px 75px;
    gap: 26px;
  }

  .bookacall div {
    gap:26px;
  }

  h4 {
    font-size: 32px;
    line-height: 40px;
  }

  footer {
    margin-bottom: 56px;
  }
}

@media (min-width: 1200px) {
  .banner {
    margin: 34px 165px 0 165px;
  }

  header {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin:0 auto;
  }

  h1 {
    font-size: 56px;
  }

  main {
    gap: 88px;
    padding: 0 165px;
  }

  .skilltiles {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 182px 158px;
    margin-bottom: 48px;
  }

  .skilltiles a:nth-of-type(3) {
    grid-column: 4/5;
  }

  .skilltiles a:nth-of-type(4) {
    grid-column: 3/5;
  }

  .skilltiles a:nth-of-type(5) {
    grid-column: 5/-1;
    grid-row: 1/2;
  }

  .skilltiles a:nth-of-type(6) {
    grid-column: 5/-1;
    grid-row: 2/-1;
  }

  .aboutme {
    margin-left: 0;
    gap: 125px;
  }

  .aboutme img {
    width: 50%;
  }

  .aboutme p {
    max-width:540px;
  }

  h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .bookacall {
    flex-direction: row;
    padding:80px 95px 80px 65px;
    gap:182px;
  }

  .bookacall div {
    max-width:540px;
  }

  h4 {
    text-align: left;
    font-size: 40px;
    line-height: 50px;
  }

  .bookacall p {
    text-align: left;
  }

  footer {
    margin-bottom:64px;
  }
}
